/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 18, ../sass/screen.scss */
h4.shadow {
  color: #ff4612;
}

@supports (text-shadow: 0 0 0.3em gray) {
  /* line 22, ../sass/screen.scss */
  h4.shadow {
    color: #ff4612;
    -webkit-text-shadow: 0 0 0.8em gray;
    -moz-text-shadow: 0 0 0.8em gray;
    -ms-text-shadow: 0 0 0.8em gray;
    -o-text-shadow: 0 0 0.8em gray;
    text-shadow: 0 0 .8em gray;
  }
}
/*00. Background Color optimization*/
/* line 30, ../sass/screen.scss */
button.base-button {
  font: inherit;
  padding: 0.3em 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #58a linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: .2em;
  -webkit-box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  font-size: 125%;
  /* Assuming a 16px parent font size */
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 46, ../sass/screen.scss */
button.base-button + button.base-button {
  margin-left: 15px;
}
/* line 49, ../sass/screen.scss */
button.base-button.cancel {
  background-color: #cc0000;
}
/* line 51, ../sass/screen.scss */
button.base-button.cancel:hover {
  background-color: rgba(204, 0, 0, 0.7);
}
/* line 55, ../sass/screen.scss */
button.base-button.ok {
  background-color: #66bb00;
}
/* line 57, ../sass/screen.scss */
button.base-button.ok:hover {
  background-color: rgba(102, 187, 0, 0.7);
}

/* line 66, ../sass/screen.scss */
ul li.back-btn {
  list-style-type: none;
  margin-top: 40px;
  margin-top: 4rem;
}

/*002.Translucent borders.html*/
/* line 78, ../sass/screen.scss */
body.bob-super-bkg {
  background: url(../images/presenter-bob-super.jpg) top right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* line 86, ../sass/screen.scss */
.translucent {
  border: 10px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.9);
  background-clip: padding-box;
  padding: 10px;
  padding: 1rem;
}

/*003. Multiple borders*/
/* line 94, ../sass/screen.scss */
.square-div-100 {
  width: 100px;
  width: 10rem;
  height: 100px;
  height: 10rem;
  background-color: #66bb00;
  margin: 40px;
  margin: 4rem;
}

/* line 101, ../sass/screen.scss */
.box-shadow-borders {
  -moz-box-shadow: rgba(255, 70, 18, 0.7) 0 0 0 10px, #665555 0 0 0 10px inset, 15px 15px 30px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(255, 70, 18, 0.7) 0 0 0 10px, #665555 0 0 0 10px inset, 15px 15px 30px 10px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(255, 70, 18, 0.7) 0 0 0 10px, #665555 0 0 0 10px inset, 15px 15px 30px 10px rgba(0, 0, 0, 0.2);
}

/* line 104, ../sass/screen.scss */
.outline-borders {
  border: 10px solid #665555;
  outline: 10px solid rgba(255, 70, 18, 0.7);
}

/*004.Flexible background positioning.html*/
/* line 111, ../sass/screen.scss */
.square-div-300x200 {
  max-width: 300px;
  max-width: 30rem;
  min-height: 200px;
  min-height: 20rem;
  background-color: transparent;
  margin: 40px;
  margin: 4rem;
  padding: 10px;
  padding: 1rem;
  color: #fff;
  background-color: transparent;
}

/* line 120, ../sass/screen.scss */
.page-code-svg {
  background: url(../images/page-code.svg) no-repeat bottom right #5588aa;
  background-position: right 20px bottom 10px;
  background-size: 25%;
}

/* line 125, ../sass/screen.scss */
.page-code-svg-content-box {
  padding: 10px;
  padding: 1rem;
  background: url(../images/page-code.svg) no-repeat #5588aa bottom right;
  background-position: right 20px bottom 10px;
  background-size: 25%;
  background-origin: content-box;
}

/* line 132, ../sass/screen.scss */
.page-code-svg-calc {
  background: url(../images/page-code.svg) no-repeat #5588aa;
  background-position: calc(100% - 20px) calc(100% - 10px);
  background-size: 25%;
}

/*005.inner-rounding.html*/
/* line 141, ../sass/screen.scss */
.inner-rounding-one {
  background: #665555;
  padding: 8px;
  padding: 0.8rem;
  margin: 40px 0px;
  margin: 4rem 0px;
}

/* line 147, ../sass/screen.scss */
.inner-rounding-one > div {
  background: tan;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 8px;
  border-radius: 0.8rem;
  padding: 10px;
  padding: 1rem;
}

/* line 154, ../sass/screen.scss */
.inner-rounding-two {
  outline-width: 6px;
  outline-width: 0.6rem;
  outline-style: solid;
  outline-color: #665555;
  -moz-box-shadow: 0 0 0 0.4em tan;
  -webkit-box-shadow: 0 0 0 0.4em tan;
  box-shadow: 0 0 0 0.4em tan;
  max-width: 300px;
  max-width: 30rem;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 8px;
  border-radius: 0.8rem;
  padding: 10px;
  padding: 1rem;
  background: tan;
  margin: 40px 0px;
  margin: 4rem 0px;
}

/*006.striped-backgrounds.html*/
/* line 170, ../sass/screen.scss */
.box-shadow-open {
  -moz-box-shadow: 10px 10px 20px #c2c2c2;
  -webkit-box-shadow: 10px 10px 20px #c2c2c2;
  box-shadow: 10px 10px 20px #c2c2c2;
}

/* line 174, ../sass/screen.scss */
.linear-gradient-2080 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNmODM2MDAiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2ZmY2I0NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f83600), color-stop(80%, #ffcb45));
  background-image: -moz-linear-gradient(#f83600 20%, #ffcb45 80%);
  background-image: -webkit-linear-gradient(#f83600 20%, #ffcb45 80%);
  background-image: linear-gradient(#f83600 20%, #ffcb45 80%);
}

/* line 177, ../sass/screen.scss */
.linear-gradient-5050 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmODM2MDAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmY2I0NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f83600), color-stop(50%, #ffcb45));
  background-image: -moz-linear-gradient(#f83600 50%, #ffcb45 50%);
  background-image: -webkit-linear-gradient(#f83600 50%, #ffcb45 50%);
  background-image: linear-gradient(#f83600 50%, #ffcb45 50%);
}

/* line 180, ../sass/screen.scss */
.linear-gradient-threecolors {
  background: linear-gradient(#ffcb45 33.3%, #ff4612 0%, #ff4612 66.6%, #000000 0%);
}

/* line 183, ../sass/screen.scss */
.linear-gradient-size {
  background-size: 100% 80px;
}

/* line 186, ../sass/screen.scss */
.linear-gradient-norepeat {
  background-repeat: no-repeat;
}

/* line 189, ../sass/screen.scss */
.linear-gradient-sizesmall {
  background-size: 100% 15px;
}

/* line 192, ../sass/screen.scss */
.linear-gradient-toright {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2I0NSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjgzNjAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjhiMzAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffcb45), color-stop(50%, #f83600), color-stop(100%, #f8b300));
  background-image: -moz-linear-gradient(left, #ffcb45, #f83600, #f8b300);
  background-image: -webkit-linear-gradient(left, #ffcb45, #f83600, #f8b300);
  background-image: linear-gradient(to right, #ffcb45, #f83600, #f8b300);
}

/* line 195, ../sass/screen.scss */
.linear-gradient-verticalStripes {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmODM2MDAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmY2I0NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(50%, #f83600), color-stop(50%, #ffcb45));
  background-image: -moz-linear-gradient(left, #f83600 50%, #ffcb45 50%);
  background-image: -webkit-linear-gradient(left, #f83600 50%, #ffcb45 50%);
  background-image: linear-gradient(to right, #f83600 50%, #ffcb45 50%);
}

/* line 198, ../sass/screen.scss */
.linear-gradient-vsize {
  background-size: 30px 100%;
}
