/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";


// @supports rule, which is the “native” Modernizr.
// However, for now, be wary of using @supports. By using it here we just limited our effect not only to browsers that support text shadows, but also to browsers that support the @supports rule—a much more limited set.

@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "utilities/variables";
@import "utilities/mixin";


h4.shadow{
	color: $orange;
}
@supports (text-shadow: 0 0 .3em gray){
	h4.shadow{
		color: $orange;
		@include vendor-prefixes(text-shadow, 0 0 .8em gray);
		text-shadow: 0 0 .8em gray;
	}
}

.black-bkg{
	color: $white;
	background-color: $black;
	@include rem(padding, .5rem);
}   
      
/*00. Background Color optimization*/
.btn-call-to-action {
	@include button-base;
	@include button-success  	
}
.btn-call-to-cancel{
	@include button-base;
	@include button-cancel;  	
}

ul{
	li{
		&.back-btn{
			list-style-type: none;
			@include rem(margin-top, 4rem);
		}
	}
}


/*002.Translucent borders.html*/

body{
	&.bob-super-bkg{
		background: url(../images/presenter-bob-super.jpg) top right;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
	
	}
}
.translucent {
	border: 10px solid hsla(0,0%,100%,.5); 
	background: rgba(255, 255, 255, 0.9);
	background-clip: padding-box;
	@include rem(padding, 10px);
}

/*003. Multiple borders*/
.square-div-100{
	@include rem(width, 100px);
	@include rem(height, 100px);
	background-color: $green-pistachio;
	@include rem(margin, 40px);
	
}
.box-shadow-borders{
	@include box-shadow( rgba($orange,0.7) 0 0 0 10px, rgba($brown, 1) 0 0 0 10px inset, 15px 15px 30px 10px rgba($black, 0.2) );
}
.outline-borders{
	border: 10px solid rgba($brown, 1);
	outline: 10px solid rgba($orange,0.7);
}


/*004.Flexible background positioning.html*/
.square-div-300x200{
	@include rem(max-width, 300px);
	@include rem(min-height, 200px);
	background-color: transparent;
	@include rem(margin, 40px);
	@include rem(padding, 10px);
	color: $white;
	background-color: transparent;
}
.page-code-svg{
		background: url(../images/page-code.svg) no-repeat bottom right $darkBlue;
		background-position: right 20px bottom 10px;
		background-size: 25%
}
.page-code-svg-content-box{
		@include rem(padding, 10px);
		background: url(../images/page-code.svg) no-repeat $darkBlue bottom right;
		background-position: right 20px bottom 10px;
		background-size: 25%;
		background-origin: content-box
}
.page-code-svg-calc{
		background: url(../images/page-code.svg) no-repeat $darkBlue;
		background-position: calc(100% - 20px) calc(100% - 10px);
		background-size: 25%;
}



/*005.inner-rounding.html*/
.inner-rounding-one{
	background: $brown;
	@include rem(padding, 8px);
	@include rem(margin, 40px 0px);

}
.inner-rounding-one > div {
	background: $lightBrown;
	@include vendor-prefixes(border-radius, .8em);
	@include rem(border-radius, 8px);
	@include rem(padding, 10px);

}
.inner-rounding-two{
	@include rem(outline-width, 6px);
	outline-style: solid;
	outline-color: $brown;
	@include box-shadow(0 0 0 .4em $lightBrown);
	@include rem(max-width, 300px);
	@include vendor-prefixes(border-radius, .8em);
	@include rem(border-radius, 8px);
	@include rem(padding, 10px);
	background: $lightBrown;
	@include rem(margin, 40px 0px);
}


/*006.striped-backgrounds.html*/

.box-shadow-open{
 	@include box-shadow(10px 10px 20px darken($whiteSmoke, 20%));
}

.linear-gradient-2080{
 	@include background-image(linear-gradient(darken( $orange, 5% ) 20%, lighten($yellow, 10%) 80%));
}
.linear-gradient-5050{
 	@include background-image(linear-gradient(darken( $orange, 5% ) 50%, lighten($yellow, 10%) 50%));
}
.linear-gradient-threecolors{
	background: linear-gradient(lighten($yellow, 10%) 33.3%, $orange 0, $orange 66.6%, $black 0);
}
.linear-gradient-size{
 	background-size: 100% 80px;
}
.linear-gradient-norepeat{
 	background-repeat: no-repeat;
}
.linear-gradient-sizesmall{
 	background-size: 100% 15px;
}
.linear-gradient-toright{
	 @include background-image(linear-gradient(to right, lighten($yellow, 10%), darken( $orange, 5% ), darken( $yellow, 5% )));
}
.linear-gradient-verticalStripes{
 	@include background-image(linear-gradient(to right, darken( $orange, 5% ) 50%, lighten($yellow, 10%) 50%));
}
.linear-gradient-vsize{
 	background-size: 30px 100%;
}
.angle-gradient-v1 {
	 @include background-image(linear-gradient(45deg, lighten($yellow, 10%) 50%, darken( $orange, 5% ) 50%));
	 background-size: 100% 100%;
 }
.angle-gradient-v2{
	background: linear-gradient(45deg, lighten($yellow, 10%) 25%, darken( $orange, 5% ) 0, darken( $orange, 5% ) 50%, lighten($yellow, 10%)  0, lighten($yellow, 10%) 75%, darken( $orange, 5% ) 0);
	background-size: 42.426406871px 42.426406871px; // 2 × 15 *  (square 2) ≈ 42 . 426406871 pixels:
}
.angle-gradient-v3 {
	 @include background-image(linear-gradient(45deg, lighten($yellow, 10%) 50%, darken( $orange, 5% ) 50%));
	 background-size: 32px 32px;
 }
 .angle-gradient-v4 {
	 @include background-image(repeating-linear-gradient(45deg, lighten($yellow, 10%), darken( $orange, 5% ) 30px));
 }
  .angle-gradient-v5 {
	 @include background-image(repeating-linear-gradient(60deg, lighten($yellow, 10%), lighten($yellow, 10%) 15px, darken( $orange, 5% ) 0, darken( $orange, 5% ) 30px));
 }
   .angle-gradient-v6 {
	 background: darken( $orange, 5% );   
	 @include background-image(repeating-linear-gradient(30deg, hsla(0,0%,100%,.1),hsla(0,0%,100%,.1) 15px,transparent 0, transparent 30px));
 }
 
 /*007-complex-background-patterns.html*/
 
 
 .gingham-pattern{
	 background: white;
	 background-image: 
	 	linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
	 	linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
	 background-size: 30px 30px;
 }
 .grid-pattern{
	background: $darkBlue;
	background-image:
	    linear-gradient($white 1px, transparent 0),
	    linear-gradient(90deg, $white 1px, transparent 0);
	background-size: 30px 30px; 
}
.grid-pattern-overload{
	background: $darkBlue;
	background-image:
   		linear-gradient($white 2px, transparent 0),
	    linear-gradient(90deg, $white 2px, transparent 0),
	    linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0),
	    linear-gradient(90deg, hsla(0,0%,100%,.3) 1px,transparent 0);
	background-size: 
		75px 75px, 75px 75px,
		15px 15px, 15px 15px;	
	
}
.dots-pattern{
	@include polka(30px, 30%, $brown, tan );
}
.gray-checkerboard{
	background: $gray-light;
	background-image:linear-gradient(45deg, $gray-medium 50%, transparent 0);	 
    background-size: 30px 30px;	
}
.checkerboard{
	@include checkerboard(15px, $darkBlue, tan);
}
.checkerboard-svg{
	background: $gray-medium url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" \
                 width="100" height="100"
                 fill-opacity=".4">\
            <rect x="50" width="50" height="50" /> \
            <rect y="50" width="50" height="50" /> \
            </svg>');
            background-size: 30px 30px;
            
         }