// COLOR

// basic
$black: rgb(0,0,0);
$white: #fff;
$whiteSmoke: #f5f5f5;
$red: #FF0000;
$lightBlue: rgba(0, 204, 247,1);
$darkBlue: rgb(85, 136, 170);
$orange: rgb(255, 70, 18);
$green-pistachio:rgba(102,187,0, 1);
$brown: rgb(102, 85, 85);
$lightBrown: rgb(210,180,140);




// type
$typeBaseColor: rgba(32, 32, 32, 1);

// links
$link: $lightBlue;
$hover: $orange;
$visit: $lightBlue;
$active: $lightBlue;



// TYPOGRAPHY



